<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initials-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `initials-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialsComponent extends Polymer.Element {
      static get is() { return 'initials-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initials-component'
          }
        };
      }
    }

    window.customElements.define(InitialsComponent.is, InitialsComponent);
  </script>
</dom-module>
